# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# Jupyter Notebook
notready
.ipynb_checkpoints

# Parallel stuff
dask-worker-space

# Big data
data/seismicinversion/*segy
data/marchenko/3D*
