# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.idea

# Jupyter Notebook
notready
.ipynb_checkpoints

# Parallel stuff
dask-worker-space

# Big data
data/seismicinversion/*segy
data/marchenko/3D*

# Slides data assimilations summer school
official/timisoara_summerschool_2019/figures.pptx
official/timisoara_summerschool_2019/runlocal.sh
