# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.idea
*~

# Jupyter Notebook
notready
.ipynb_checkpoints

# Parallel stuff
dask-worker-space
developement-distributed/hostfile.txt

# Big data
data/seismicinversion/*segy
data/marchenko/3D*
data/marchenko/*zarr
data/updown/input3D.npz

# Slides data assimilations summer school
official/timisoara_summerschool_2019/figures.pptx
official/timisoara_summerschool_2019/runlocal.sh
official/timisoara_summerschool_2019/PITCHME.pdf
